body {
    background-color:#F0E7E5     
}

h1 {
    
    text-align: center;
}


.text-box input[type="text"],.text-box input[type="text"]{
    color: black;
    border:0;
    background:white;
    display: block;
    margin:20px auto;
    text-align: center;
    border:3px solid;
    padding:14px 10px;
    width: 150px;
    height: 2px;
    outline: none;
    border-radius: px;
    transition: 0.50s;
    transform: translate(-0%,-90%);
}
.text-box input[type="submit"]{
    border:0;
    background:white;
    display: block;
    margin: 20 auto;
    text-align: center;
    border:2px solid white;
    padding:6px 50px;
    outline:none;
    border-radius: 2px;
    transform: translate(-0%,-38%);
    transition: 0.30s;
    cursor: pointer;
}
